<div class="container pets-index-container"> <h2>Pets near you:</h2>
<div class="row">
  <div class="col-6 my-3" style="width: 800px">
    <%= form_with url: pets_path, method: :get, class: "d-flex justify-content-start m-0" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control w-100",
            placeholder: "Search for a pet species"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary", id: "search-btn" %>
    <% end %>
  </div>
</div>

  <div class="bg-pawsitive-orange pet-cards"><% @pets.each do |pet| %>

    <%= link_to pet_path(pet) do %>
      <div class="pet-cards-container">
        <div class="card-category" style="background-image: url('<%= cl_image_path pet.photo.key %>');">
        </div>
        <div class="card-pet-infos d-flex">
          <div class="card-pet-desc">
            <h2><%= pet.name %></h2>
            <p><%= pet.life_stage %> <%= pet.species %></p>
          </div>
        <p class="card-pet-pricing"><%= number_to_currency(pet.price_per_day, unit: '¥', precision: 0, delimiter: ',') %> per day</p>
        <%= cl_image_tag pet.lister.photo.key, class: "card-pet-user avatar-bordered"%>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
