<div class="container pets-index-container">
  <h2 class="mt-4 mb-3 center">Your Rental History</h2>


  <div class="row justify-content-center">
    <div class="col-sm-6 my-3">
  <p class="center p-thick">Filter by rental request status:</p>
      <%= form_with url: rentals_path, method: :get do %>
      <div class="btn-radio">
      <%= link_to "Waiting", rentals_path(status: "waiting"), class: "btn btn-warning btn-filter-orange mb-4" %>
      <%= link_to "Accepted", rentals_path(status: "accepted"), class: "btn btn-success btn-filter-green mb-4" %>
      <%= link_to "Declined", rentals_path(status: "declined"), class: "btn btn-danger btn-filter-red mb-4"  %>
        <%# <label class="orange-text">Waiting</label><%= radio_button_tag 'status', 'waiting' %>
        <%# <label class="green-text">&#160;&#160;&#160;Approved</label><%= radio_button_tag 'status', 'accepted' %>
        <%# <label class="red-text">&#160;&#160;&#160;Declined</label><%= radio_button_tag 'status', 'declined' %>
      </div>
        <div class="d-flex">

          <%= text_field_tag :query,
                params[:query],
                class: "form-control rental-form",
                placeholder: "Type a pet name"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary", id: "search-btn" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="bg-pawsitive-orange pet-cards mb-5"><% @rentals.each do |rental| %>

      <%= link_to account_path(rental) do %>
        <div class="pet-cards-container">
          <div class="card-category" style="background-image: url('<%= cl_image_path rental.pet.photo.key, crop: :thumb %>');">
          </div>
          <div class="card-pet-infos d-flex">
            <div class="card-pet-desc">
              <h2><%= rental.pet.name %></h2>
              <div class="rental-status">
                <% if rental.status == 'waiting'%>
                  <p class="rental-status mt-1 rental-status-waiting"><%= (rental.status) %>... </p>
                <% elsif rental.status == 'accepted'%>
                  <p class="rental-status mt-1 rental-status-approved"><%= (rental.status) %>! </p>
                <% else  %>
                  <p class="rental-status mt-1 rental-status-declined"><%= (rental.status) %> </p>
                <% end %>
              </div>
              <p class="fa fa-calendar"> <%= rental.start_date %>  -  <%= rental.end_date %></p>
            </div>
          <p class="card-pet-pricing"><%= number_to_currency(rental.total_price, unit: '¥', precision: 0, delimiter: ',') %> total</p>
          <%= cl_image_tag rental.pet.lister.photo.key, class: "card-pet-user avatar-bordered"%>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
